@import "./custom";
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: rem(80);
    height: rem(80);
    margin: auto;
}
.lds-ellipsis div {
    position: absolute;
    top: rem(33);
    width: rem(13);
    height: rem(13);
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    background-color: $primary;
}
.lds-ellipsis div:nth-child(1) {
    left: rem(8);
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: rem(8);
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: rem(32);
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: rem(56);
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(rem(24), 0);
    }
}
